.bigger-toggle,
.form-check .form-check-input.bigger-toggle {
    transform: scale(1.8);
    margin: 1em 0 1em -1.2em;
}

.form-check-input.bigger-toggle:checked {
    background-color: #05c6b3;
    border-color: #05c6b3;
}

.webhook-current {
    font-size: 12px;
    padding: 13px 20px 13px;
}

.webhook-status {
    font-size: 12px;
    padding: 14px 24px 14px;
}

.mw-25p {
    max-width: 25%;
    padding-right: 1.5rem;
}

input[disabled="disabled"] {
    color: #919191 !important;
}

input.error-input {
    border: 1px solid #ac1313;
}

.hidden {
    display: none;
}

.text-super-muted {
    opacity: 0.2;
}

.error {
    color: #ac1313;
}

.success {
    color: #039f8e;
}

.event-status {
    margin-left: 30px;
    color: #039f8e;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 1.4s infinite;
    -moz-animation: flickerAnimation 1.4s infinite;
    -o-animation: flickerAnimation 1.4s infinite;
    animation: flickerAnimation 1.4s infinite;
}
